.button-green {
  display: block;
  padding-top: 16px;
  padding-bottom: 14px;
  .fontfamily();
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: @white;
  background-color: @green;
  border: 2px solid @green;
  border-radius: 1px;

  &:hover {
    background-color: @dark-green;
    border: 2px solid @dark-green;
  }

  &:active {
    background-color: @dark-green;
    color: @white-a3;
  }

  &:disabled {
    background-color: @gray;
    border: 2px solid @gray;
  }
}
