.button {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  .fontfamily();
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: @gray;
  border: 3px solid @white;
  border-radius: 30px;
  box-sizing: border-box;

  &--pink {
    color: @bright-purplish-red;
    border-color: @bright-purplish-red;

    &:hover {
      color: @white;
      background-color: @bright-purplish-red;
    }

    &:active {
      color: @white-a3;
      background-color: @bright-purplish-red;
    }
  }

  &--silver {
    color: @granite-gray-a1;
    border-color: @granite-gray-a1;

    &:hover {
      border-color: @granite-gray-a3;
    }

    &:active {
      color: @white-a3;
      background-color: @granite-gray-a3;
      border-color: @granite-gray-a3;
    }
  }
}
