.footer-wrapper {
  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    padding-top: 61px;
  }

  &--form {
    @media (min-width: @tablet-width) {
      padding-top: 45px;
    }

    @media (min-width: @desktop-width) {
      padding-top: 33px;
    }
  }

  &--index {
    @media (min-width: @desktop-width) {
      padding-top: 36px;
      padding-bottom: 40px;
    }
  }
}
